@font-face {
    font-family: 'GeneralSansSemi';
    src: url('./fonts/GeneralSans-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'GeneralSansMed';
    src: url('./fonts/GeneralSans-Medium.otf') format('opentype');
}

:root {
    --dark-blue: #111827;
}

body {
    margin: 0;
    padding: 0px;
    width: 100%;
}

/* NAV BAR CSS */

nav {
    display: grid;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-blue);
    grid-template-columns: 8rem 8rem 8rem auto;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Sticks the nav at the top of the page */
    z-index: 1000; /* Ensure the nav is above other content */
}

nav li {
    font-family: 'GeneralSansSemi',sans-serif;
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    
    }

nav li{
    text-decoration: none;
    margin-right: 1rem;
}

nav li:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

#contact {
    font-family: 'GeneralSansSemi',sans-serif;
    grid-column: 4;
    justify-self: end;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: none; /* Button background color */
    color: white; /* Text color */
    text-align: center;
    border: 1px solid white;
    border-radius: 0.5rem; /* Rounded corners */
    font-size: 1.5rem;
    cursor: pointer;
}

#contact:hover {
    background-color: white;
    color: var(--dark-blue);
    transition: all 0.3s ease-in-out;
}

.nav_buttons {
    text-decoration: none;
    color: white;
}

.thin-line {
    position: absolute; /* Position it absolutely within the nav */
    bottom: 5px; /* Align the line at the bottom of the nav */
    left: 0; /* Align it to the left edge */
    width: 100%; /* Make the line span the full width of the nav */
    height: 1px; /* Thickness of the line */
    background-color: white;
    margin: 0; /* No margins needed for the line itself */
}

#menu {
    transition: opacity 1s ease-in-out; /* Smooth fade effect */
  }

/* Hide the button (initial state) */
.hidden {
    opacity: 0;
    visibility: hidden; /* Ensure it's not visible */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Show the button (after scrolling) */
.visible {
    opacity: 1;
    visibility: visible; /* Make it visible */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Positioning for the button */
#topButton {
    position: fixed; /* Fixed at the bottom-right corner of the viewport */
    bottom: 1rem;
    right: 1rem;
    width: 50px; /* Adjust the size of the image */
    height: 50px; /* Adjust the size of the image */
    cursor: pointer; /* Change cursor to pointer on hover */
    z-index: 1000; /* Ensure it stays above other elements */
}

/* INTRODUCTION SECTION CSS */

.introduction {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-row: 2;
    gap: 1rem;
    padding: 1rem;
    font-family: 'GeneralSansMed',sans-serif;
    margin-bottom: 5rem;
}

.introduction p {
    font-size: 1.5rem;
    text-align: left;
    grid-column: 2;
    margin: 0;
}

.socials {
    grid-column: 2;
    justify-self: center;
}

#linkedin, #github, #email {
    transition: transform 1s ease, opacity 1s ease;
}

.socials img {
    width: 30px;
    height: 30px;
    margin: 5px;
    transition: transform 1s ease, opacity 1s ease;
}

#headshot {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    margin-top: 5rem;
    padding: 0;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image scales correctly */
    object-position: 50% 20%; /* Moves the image down */
    border: var(--dark-blue) 2px solid;
    grid-column: 2;
    justify-self: center;
    transition: transform 1s ease, opacity 1s ease;
}

#intro {
    transition: transform 1s ease, opacity 1s ease;
}

/* Hidden state (initial state) */
.hiddenPic {
    transform: translateY(70px); /* Start 100px below its final position */
    opacity: 0;
}
  
  /* Visible state (final state) */
.visiblePic {
    transform: translateY(0); /* Move to its original position */
    opacity: 1;
}

/* PROJECT SECTION CSS */

#projectHeader {
    font-family: 'GeneralSansSemi',sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 4rem;
    grid-column: 2;
}

.secondaryHeader {
    font-family: 'GeneralSansSemi',sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin: 0;
}

.projects {
    display: grid;
    grid-template-columns: 10% 80% 10%;    
    gap: 1rem;
    margin-bottom: 5rem;
}

.project {
    font-family: 'GeneralSansMed',sans-serif;
    grid-column: 2;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.project p {
    text-align: left;
    padding-bottom: 1rem;
}

.projectButton {
    font-family: 'GeneralSansSemi', sans-serif;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--dark-blue);
    color: white; /* Text color */
    text-align: center;
    border-radius: 0.5rem; /* Rounded corners */
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.projectButton:hover {
    border: 2px solid var(--dark-blue);
    background-color: white;
    color: var(--dark-blue);
}