<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/portfolio.css">
    <script src="../script.js" defer></script>
    <title>Brandon's Portfolio Site</title>
</head>
<body>
    <nav id="menu" class="hidden">
        <li><a href="../index.html" class="nav_buttons">Portfolio</a></li>
        <li><a href="./resume.html" class="nav_buttons">Resume</a></li>
        <li><a href="./writing.html" class="nav_buttons">Writing</a></li>
        <a href="mailto:brandonkwchow@gmail.com" id="contact">Contact Me</a>
        <div class="thin-line"></div>
    </nav>

    <div class="projects">
        
        <h1 id="projectHeader">Writing Samples</h1>

        <div class="project">
            <img src="./static/user_assistance.png" alt="user assistance icon" class="thumbnail">
            <div class="project_info">
                <h2 class="secondaryHeader">Spartan Controls Sales and Makreting Administrator SOP</h2>
                <p class="tools"> <b>Type:</b> Standard Operating Procedure (SOP)</p>
                <p class="tools"> <b>Tools used:</b> Microsoft Office, Adobe Indesign</p>
                <p>Developed standard operating procedures (SOPs) for the Sales and Marketing Administrator role. These documents explained task workflows, outlined key responsibilities, and provided step-by-step guidance on event planning and execution.</p>
                <a href="" class="projectButton">Learn More</a>
            </div>
        </div>

        <div class="project">
            <img src="../static/cloudinit_thumbnail.png" alt="preview image of cloud-init guide" class="thumbnail">
            <div class="project_info">
                <h2 class="secondaryHeader">How to Create Virtual Servers on Digital Ocean using Cloud-Init</h2>
                <p class="tools"> <b>Type:</b> How-to Guide</p>
                <p class="tools"> <b>Tools used:</b>  Markdown</p>
                <p class="project_body">An educational guide for students to learn about creating droplets on DigitcalOcean and using cloud-init files for automatic configutation.</p>
                <a href="./cloudinit_guide.html" class="projectButton" target="_blank">View Sample</a> <a href="" class="projectButton">Learn More</a>
            </div>
        </div>

        <div class="project">
            <img src="./static/technical_writing.png" alt="technical writing icon" class="thumbnail">
            <div class="project_info">
                
                <h2 class="secondaryHeader">Quick Guide to Create a Community Discord Server</h2>
                <p class="tools"> <b>Type:</b> How-to Guide</p>
                <p class="tools"> <b>Tools used:</b> Microsoft Office, Adobe Indesign</p>
                <p>Created user guides, manuals, and documentation for software applications, hardware products, and technical processes.</p>
                <a href="" class="projectButton">Learn More</a> 
            </div>
        </div>

        <img src="../static/up-arrow.png" alt="Back to top button" id="topButton" class="hidden">
</body>
</html>